@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular);
@import url(https://fonts.googleapis.com/css?family=VT323:regular);
/* @import url(https://fonts.googleapis.com/css?family=Silkscreen:regular,700); */

h1 {
    margin: 0;
    font-size: 1.8rem;
    color: var(--text-heading);
    font-family: 'Outfit', 'Roboto', serif;
}

h2 {
    color: #e6edf3 !important;
    font-family: 'Press Start 2P', 'Ubuntu', 'Roboto', serif;
    /* High Contrast Crisp White Text
    text-shadow: var(--glow-h2); */
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 24px;
}

p {
    margin: 0 0 8px;
    line-height: 1.6;
    color: var(--text-primary);
}

/* a {
    font-family: 'Roboto', 'Outfit', serif;
    text-decoration: none;
    color: rgb(128, 105, 76);
    transition: color .2s;
} */

a {
    font-family: 'VT323', monospace !important;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    /* VT323 thoda compressed hota hai isliye size 18px-19px best hai */
    letter-spacing: 0.5px;
    font-weight: 500;
}

a:not(.no-hover):hover {
    color: var(--nav-link-hover);
}