@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);

h1 {
    margin: 0;
    font-size: 1.8rem;
    color: var(--text-heading);
    font-family: 'Outfit', 'Roboto', serif;
}

h2 {
    color: var(--text-heading);
    /* text-shadow: var(--glow-h2); */
    font-family: 'Ubuntu', 'Roboto', serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 8px;
}

p {
    margin: 0 0 8px;
    line-height: 1.6;
    color: var(--text-primary);
}

a {
    font-family: 'Roboto', 'Outfit', serif;
    text-decoration: none;
    color: rgb(128, 105, 76);
    transition: color .2s;
}

a:not(.no-hover):hover {
    color: var(--nav-link-hover);
}